@import '../../scss/variables';
.landingPageBox {    
    margin:10px;
    padding:0;

    & .card-header {
      
    }
    
    .landingBoxTitle {
        text-align: left;             
        padding-right: 25px;
    }

    & .toggle-box-link {
        right: 5px;
        position: absolute;             
    }
}