/* Styles for table cells */
.div-table-cell {
  &.name-cell {
    width: 25%;
    font-weight: bold;
  }

  &.permissions-cell {
    width: 19%;
    font-weight: bold;
  }

  &.status-cell {
    width: 10%;
    font-weight: bold;
  }

  &.created-at-cell {
    width: 13%;
    font-weight: bold;
  }

  &.updated-at-cell {
    width: 13%;
    font-weight: bold;
  }

  &.actions-cell {
    width: 20%;
    font-weight: bold;
  }
}

